@font-face {
    font-family: 'Lora';
    font-display: swap;
    src: url('Lora-Regular.woff2') format('woff2'),
         url('Lora-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    font-display: swap;
    src: url('Lora-Medium.woff2') format('woff2'),
         url('Lora-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    font-display: swap;
    src: url('Lora-SemiBold.woff2') format('woff2'),
         url('Lora-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    font-display: swap;
    src: url('Lora-Bold.woff2') format('woff2'),
         url('Lora-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
